@import url('https://fonts.googleapis.com/css?family=Lora');

body {
 padding-top: 60px;
 /* padding-bottom: 30px; */
}
.index{
    flex-direction: column;
    font-family:'Lora', serif;  
  }

  @keyframes fade-in{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h2 {
    font-size: 2.8vw;
    padding-bottom: 15px;
    text-transform: uppercase;
  }

  .cover-sect {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10% 0;
    margin-top: 20px;
    padding: 5% 0;
    opacity: 0.8;
    text-align: center;
  }

  .title-text {
    font-size: 20px;
    width: 40%;
    text-align: center;
    color: black;
    margin: auto;
    padding: 0 20px;
    animation: fade-in;
    animation-duration: 4s;
  }

  .story-sect{
    display: flex;
    flex-direction: row-reverse;
    background-color: #343a40;
    color: #fff;
    margin-bottom: 3em;
  }

  .box-feature{
    width: 60%;
    max-height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
  }
  
  .box-feature img{
    width: 100%;
    
  }

  .box-feature .cover-image{
    animation: fade-in;
    animation-duration: 5s;
  }
  .section-text h2 {
    text-align: center;
  }

  .section-text p {
    /* text-align: justify; */
    margin: auto 2.5em;
    line-height: 1.8em;
    
  }

  .samples {
    flex-direction: column;
    text-align: center;

  }

  .featured {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 5%;
    margin: 20px auto;
  }

  .cont {
    width: 100%;
    color: black;
  }

  .cont img{
    max-width: 100%;
    max-height: auto;
  }

  .cont:hover {
     -webkit-transform: rotate(-7deg);
    -moz-transform:rotate(-7deg);
    -o-transform:rotate(-7deg);
    transform:rotate(-7deg);
  }
  .contact-section {
    background: #343a40;
    color: #fff;
    margin-top: 10em;
    margin-bottom: 2em;
    padding-right: 3em;
    padding-left: 3em;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
.section-text {
    width: 50%;
    margin: 0 auto;
}
  .form-box {
    padding-top: 1em;
  }

  form .form-entry{
    display: block;
    padding: 0.8em 0;
  }
  
  form .txt-box {
    margin-top: 0.3em;
    width: 100%;
    padding: 0.7em 0;
    border-radius: 2px;
    border: 2px transparent;
  }

   .btn{
    text-align: center;
    background-color: #e6e8e8;
    color: #000;
    font-weight: 500; 
    letter-spacing: inherit;
    border: 2px solid #eaeaea;
    box-shadow: 0px 0px 5px 2px #0dc9a9;
    border-radius: 14px;
    padding: 0.3em;
  } 
  
  .btn:hover{
    cursor: pointer;
    background: black;
    color: white;
  }
  hr.style5 {
	color: blue;
	border-top: 2px dashed #8c8b8b;
}

  hr.style8 { 
    height: 30px; 
    border-style: solid; 
    border-color: #a52d08; 
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
  } 
  hr.style8:before { 
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #a52d08; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
  }
  

  .footer-section {
    height: 3em;
    width: 100%;
    color: #fff;
    background-color: #343a40;
    text-align: center;
    padding-bottom: 0;
  }
  
  @media all and (max-width: 768px){
    section div {
      width: 80%;
      padding-top: 2em;
      padding-bottom: 2em;
    }
  
    .story-sect, .sample, .contact-section, .featured{
      display: flex;
      flex-direction: column;
    }
  
    .featured {
      width: 80%;
      margin: 0 auto;
    }
  
    .section-text h2 p{
      text-align: center;
      margin-right: 10%;
      margin-left: 10%;
    }

  }
  