<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
    <!-- We can now add additional tags as needed by the individual templates -->
    <% include ./partials/baseScripts.ejs %>
    <!-- #2 -->
    <link rel="stylesheet" href="/css/application.css">
  </head>
  <body class="index">
<!-- Page Content -->
<main class="container">
   

    <!-- nav -->

    <!-- end nav -->
    <div class="container">
      <section class="cover-sect">
        <div class="title-text">
          <hr>
          <p>Welcome to e-invitation</p>
          <p>~YOU ARE INVITED~</p>
         <hr>
          <a href="/users/sign_up" class="btn btn-primary btn-lg">Sign up</a>
        </div>
        <div class="box-feature">
          <img class="cover-image" src="https://images.pexels.com/photos/1682462/pexels-photo-1682462.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="s"/>
        </div>
      </section>

      <section id="story" class="story-sect">
        <div class="section-text">
          <h2>How e-invitation Works</h2><hr>
          <p>Discover events</p>
          <p>See who is hosting local events.</p><hr>
          <p>Start an event</p>
          <p>Create your own events, and meet some new friends.</p><hr>
          <p>Create a private party</p>
          <p>Invite your family and friends.</p>
        </div>
        <div class="box-feature">
          <img src="https://images.pexels.com/photos/125545/pexels-photo-125545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        </div>
      </section>

      <!-- Events by month-->
      <section id="designs" class="samples">
        <div class="section-text">
          <h2>Events by month</h2>
          <p>There is a special event for just about everyone in every month.</p>
        </div>
        <div class="featured">
          <div class="cont">
            <figure>
              <img src="https://images.pexels.com/photos/122434/popcorn-cinema-ticket-film-122434.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="January-National Popcorn Day">
            <p>Jan-National Popcorn Day</p>
            </figure>
          </div>

          <div class="cont">
            <figure>
              <img src="https://images.pexels.com/photos/1343504/pexels-photo-1343504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="February-Eat Ice Cream for Breakfast Day">
              <p>Feb-Eat Ice Cream for Breakfast Day</p>
            </figure>
          </div>

          <div class="cont">
            <figure>
              <img src="https://images.pexels.com/photos/1596576/pexels-photo-1596576.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="March-National Puppy Day">
              <p>Mar-National Puppy Day</p>
            </figure>
          </div>

          <div class="cont">
            <figure>
              <img src="https://images.pexels.com/photos/63633/bar-local-cong-ireland-63633.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="April-National Beer Day">
              <p>Apr-National Beer Day</p>
            </figure>
          </div>

          <div class="cont">
            <figure>
              <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="May-No Diet Day">
              <p>May-No Diet Day</p>
            </figure>
          </div>

          <div class="cont">
            <figure>
              <img src="https://images.pexels.com/photos/1685016/pexels-photo-1685016.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="June-Hot Air Balloon Day">
              <p>Jun-Hot Air Balloon Day</p>
            </figure>
          </div>

          <div class="cont">
            <figure>
              <img src="https://images.pexels.com/photos/918327/pexels-photo-918327.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="July-Chocolate Day">
            <p>Jul-Chocolate Day</p>
            </figure>
          </div>

          <div class="cont">
            <figure>
              <img src="https://images.pexels.com/photos/1295572/pexels-photo-1295572.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="August-Grab Some Nuts Day">
              <p>Aug-Grab Some Nuts Day</p>
            </figure>
          </div>

          <div class="cont">
            <figure>
              <img src="https://images.pexels.com/photos/1600727/pexels-photo-1600727.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="September-National Cheeseburger Day">
            <p>Sep-National Cheeseburger Day</p>
            </figure>
          </div>

          <div class="cont">
            <figure>
              <img src="https://images.pexels.com/photos/982612/pexels-photo-982612.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="October-International Coffee Day">
            <p>Oct-International Coffee Day</p>
            </figure>
          </div>

          <div class="cont">
            <figure>
              <img src="https://images.pexels.com/photos/1647163/pexels-photo-1647163.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="November-Sandwich Day">
              <p>Nov-Sandwich Day</p>
            </figure>
          </div>

          <div class="cont">
            <figure>
              <img src="https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="December-National Brownie Day">
            <p>Dec-National Brownie Day</p>
            </figure>
          </div>


        </div>

      </section>

      <!--    contact -->
      <section id="contact" class="contact-section">
        <div class="section-text">
          <h2>Get in touch</h2>
          <p>We would love to hear from you! <br><br>If you would like to receive our monthly catalogue subscribe by filling in the form with your name and email address</p>
        </div>
        <div class="contact-info">
          <div class="form-box">
            <form id="form" class="contact-form" action="https://www.freecodecamp.com/email-submit">
              <label for="name" class="form-entry">Name <br>
                <input name="name" id="name" type="text" class="txt-box" placeholder="&nbsp&nbsp;Enter name" required><br>
              </label>
              <label for="email" class="form-entry">Email <br>
                <input name="email" id="email" type="email" class="txt-box" placeholder="&nbsp&nbsp;Enter email" required><br>
              </label>
              <label for="message" class="form-entry">Message<br>
                <textarea name="message" id="message" type="textarea" class="txt-box" placeholder="&nbsp;Optional"></textarea><br>
              </label><br>
              <input class="btn" id="submit" type="submit" value="Submit">
            </form>
          </div>
        </div>

      </section>
    </div>

  </main>
<!-- /.container -->


    </body>
    <% include ./partials/navbar.ejs %> 

    <footer class="footer-section">
        <p class="personal-info">~ Created by Allison Jin ~</p>
       
      </footer>

</html>
