<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Events</h1>
      <% if(currentUser) { %>
        <a href="/events/new" class="btn btn-success">New Event</a>
        <hr class="style8">
      <% } %>
      <ul class="list-group">

        <% events.forEach((event) => { %>
        	<% if(event.private === false) { %>
            <li class="list-group-item">
              <a href="/events/<%= event.id %>"> 🎊 <%= event.title %> </a>
              <% if(currentUser && (currentUser.id == event.userId || currentUser && currentUser.role === "admin")) { %>
                <a href="/events/<%= event.id %>/edit" class="btn btn-warning">Edit</a>  
                <form style="display:initial" action="/events/<%= event.id %>/destroy" method="post">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <% } %>
          <% } %>
       <% }) %>

      </ul>

    </main>
  </body>
</html>